body {
  background-color: #7FDBFF;
}

.col-md-2, .col-md-3, .col-md-1{
  border: solid 1px;
}

#tableHeader{
  text-align: center;
  font-weight: bold;
  /*vertical-align: middle;*/
  display: none;
}
